<h1>Application Show Page</h1>
  <p>Name: <%= @applications.name %></p>
  <p>Street Address: <%= @applications.street_address %>
  <p>City: <%= @applications.city %>
  <p>State: <%= @applications.state %>
  <p>Zipcode: <%= @applications.zipcode %>
  <p>Description: <%= @applications.description %>
  <p>Pet Names: <%= @applications.pet_names %>
  <p>Status: <%= @applications.status %>