<h1>Application Show Page</h1>

  <p>Name: <%= @application.name %></p>
  <p>Street Address: <%= @application.street_address %>
  <p>City: <%= @application.city %>
  <p>State: <%= @application.state %>
  <p>Zipcode: <%= @application.zipcode %>
  <p>Description: <%= @application.description %><br>
  <% @application.pets.each do |pet|%>
    <p>Pets: <%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
  <p>Status: <%= @application.status %>

  <section id="add_pet-<%= @application.id %>">
    <h3> Add a Pet to this Application </h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Submit" %><br><br>
  <% end %>

  <% if @pets != nil %>
    <% @pets.each do |pet| %>
    <%= pet.name %> 
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}?search=#{pet.name}", method: :patch  %>
    <% end %> 
  <% end %> 
  </section>
  <br>

  <section id="submit_application-<%= @application.id %>">
  <h2> Submit My Application </h3>
    <%=form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %><br>
    <%= form.label "Why I would make a good owner for these pet(s)" %>
    <%= form.text_field "Why I would make a good owner for these pet(s)"%>
    <%= form.hidden_field :status, value: "Pending" %>
    <%= form.submit "Apply" %>
  <% end %>  
  </section>


